# Python
__pycache__/
*.py[cod]
build/
dist/
*.egg-info
.venv/
venv/

# Editors / OS
.DS_Store
.vscode/
.ipynb_checkpoints/

# Pipeline outputs
/cache/
/results/
/plots/
/datasets/
/states_ds/


resources/embeddings/
